<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"></script>
    </head>
    
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site is created by Enoch. It uses data from mapbox.com and weatherstack.com!</p>
            <img class="portrait" src="/img/photo_2020-12-04_21-40-43.jpg" alt="">
        </div>
        
        {{>footer}}
    </body>
    
    <script></script>
</html>